server:
  port: 8080
spring:
  application:
    name: Backend
  datasource:
#    url: ${POSTGRES_URL:jdbc:postgresql://localhost:5432/eyecommer_db}
#    username: ${POSTGRES_USER:postgres}
#    password: ${POSTGRES_PASSWORD:postgres}
    url: jdbc:postgresql://localhost:5432/eyecommer_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: false
    hibernate:
      ddl-auto: update
jwt:
  expiryHour: 1
  expiryDay: 14
  accessKey: c2VjcmV0QGtleS5hcGlfaGFzX2JlZW5fZGVzaWduZWRfYnlfVGF5TFE=
  refreshKey: 9k1jJAWAKQCnCEz1pwcPNegbHoLugf9hgEnn6sz5pFc=

